/* -----RESET-----  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 375px;
    margin: auto;
}
/* -----COMMON-----  */

:root {
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --secondary-color: #9792e4;
}
.nav, main, .planning, .pro-container {
    display: flex;
}

.nav a {
    color: black;
}

ul {
    list-style-type: none;
}
/* -----HEADER-----  */
.nav {
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--first-color);
    color: white;
}

.nav ul {
    display: none;
}

.nav ul a {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: white;
}
/* ----RESPONDIVE HEADER TABLET-----  */
@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }
}
/* ----RESPONDIVE HEADER DESKTOP-----  */
@media screen and (max-width: 992px) {
    body {
        max-width: 992px;
    }
}

@media screen and (min-width: 992px) {
    body {
        max-width: 100vw;
    }

    .nav {
        justify-content: space-between;
        position: relative;
    }

    .nav i {
        display: none;
    }

    .nav ul {
        display: flex;
        gap: 1.25rem;
        position: absolute;
        right: 25px;
    }

}
/* -----MAIN-----  */
/* ----sezione pro -----  */
.pro-container {
    gap: 20px 0;
    padding: 25px;
    flex-direction: column;
}

main {
    flex-direction: column;
}

section {
    line-height: 30px;
    text-align: center;
}

.pro p {
    padding-bottom: 30px;
}
.pro img {
    padding-top: 30px;
}

.info {
    padding: 0 20px;
}

.pro a {
    padding: 10px 50px;
    border-radius: 30px;
    background-color: var(--first-color);
    color: white;
    align-self: center;
}

.pro h3 {
    padding-bottom: 20px;
    font-size: 23px;
    color: var(--first-color);
}

.fa-apple {
    padding-right: 5px;
}

.double article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-double {
    max-width: 60%;
    max-height: 50%;
} 

.img-double img {
    max-width: 100%;
    display: block;
}

.pro > * {
    text-align: center;
}

.double {
    text-align: left;
}

.pro {
    background-color: var(--first-color-light);
    padding: 30px 20px 0;
    border-radius: 30px;
}

.pro i:not(.info i) {
    font-size: 80px;
    padding-bottom: 30px;
    color: var(--first-color);
}
/* ----RESPONDIVE main TABLET 768-----  */
@media screen and (min-width: 768px) {
    .pro-container {
        max-width: 768px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    }
    .pro-double {
        width: 64%;
    }

    .pro:not(.pro-double) {
        width: 32%;
    }

    .img-double img {
        position: relative;
        bottom: 0;
        right: 80px;
    }
}
/* ----RESPONDIVE main DESKTOP 992-----  */
@media screen and (min-width: 992px) {
    .pro-container {
        max-width: 100vw;
    }

    .pro-double article {
        flex-direction: row;
        justify-content: space-between;
    }

    .img-double img {
        right: 0;
    }

}

/* ----- sezione strategic planning ----  */
.planning {
    background-color: var(--secondary-color);
    flex-direction: column;
    padding: 25px;
    text-align: center;
    margin: auto;
}

.planning img {
    max-width: 100%;
}

.planning-uno img {
    padding-top: 30px;
}

.planning h1{
    padding-top: 30px;
}

.planning-uno {
    color: white;
}

.planning-uno:not(img) {
    text-align: left;
}

.planning-uno h1 {
    padding-bottom: 30px;
}

.planning-uno p {
    padding-bottom: 15px;
}

.planning-due {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

.planning-due h2 {
    padding-bottom: 20px;
}

.planning-due p {
    font-size: 12px;
    padding-bottom: 15px;
}

.planning-due i {
    padding: 5px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

/* ----RESPONSIVE main TABLET 768-----  */
/* ----RESPONSIVE main DESKTOP 992-----  */
@media screen and (min-width: 992px) {
    .planning {
        flex-direction: row;
        justify-content: center;
    }

    .planning-uno {
       max-width: 25%;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       padding: 0 20px;
    }

    .planning-uno img {
        max-width: 100%;
    }

    .planning-due {
        max-width: 25%;
        height: 80%;
        align-self: end;
    }

    .planning-due img {
        max-width: 60%;
    }
}

/* ----- sezione testimonials ----  */

.testimonials {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
    max-width: 70%;
    margin: auto;
}

.testimonials > h3, h1 {
    padding-top: 30px;
}

.testimonials > h1 {
    color: var(--secondary-color);
}

.testimonials > p {
    padding: 30px 0;
}

.card {
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px;
    border-radius: 30px;
}

.photo {
    width: 50%;
}

.photo img {
    width: 100%;
    border-radius: 50%;
}

.card p {
    line-height: 23px;
}
.card h3 {
    padding-top: 20px;
}

.testimonials {
    padding-bottom: 60px;
}
/* ----RESPONDIVE main TABLET 768-----  */

@media screen and (min-width: 768px) {
    .card {
        flex-direction: row;
    }

    .review {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 15px;
    }
}
/* ----RESPONDIVE main DESKTOP 992-----  */

/* ----- sezione benefits ----  */

.benefits {
    margin: auto;
    background-color: var(--secondary-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.reason {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border-radius: 30px;
    color: var(--secondary-color);
    gap: 15px;
    line-height: 22px;
    max-width: 70%;
}

.benefits h1 {
    color: white;
    padding-bottom: 50px;
}

.reason p {
    color: black;
}

.reason a {
    color: white;
    padding: 10px 50px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    text-align: center;
    width: fit-content;
}

.number {
    font-size: 30px;
    font-weight: bolder;
}

/* ----RESPONSIVE main TABLET 768-----  */

@media screen and (min-width: 768px) {
    .reason .card {
        max-width: 40%;
    }

    .benefits {
        flex-wrap: wrap;
        flex-direction: row;
    }
}




/* -----FOOTER-----  */